<!DOCTYPE html>
<html>
<head>
    <title>RACOURCISSEUR D'URL</title>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>
</head>
<body>
    <h1>RACOURCISSEUR D'URL</h1>
    <div id="content">
        <div class="leftbox">
            <h1>Entrez l'url à raccourcir</h1>
            <div class="o-url">
                <form id="post-form">{% csrf_token %}
                    <div id="b">
                        <input id="link" type="text" name="link">
                        <button type="submit">Raccourcir</button>
                    </div>
                </form>

                <script type="text/javascript">
                    $(document).on('submit','#post-form',function(e){
                      e.preventDefault();
                  
                      $.ajax({
                        type:'POST',
                        url:'{% url "create" %}',
                        data:{
                          link:$('#link').val(),
                          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function(data){
                            console.log(data)
                            $('.r-url h3').html("localhost:8000/rurl/" + data)
                            $('#myTable').DataTable().ajax.reload();
                        }
                      });
                    });
                </script>

            </div>
        </div>
        <div class="rightbox">
            <h1>Voici votre URL raccourci</h1>
            <div class="r-url">
                <h3> </h3>
            </div>
        </div>
    </div>
<div>
    <a href="{% url 'history' %}"> Voir l'historique </a>
</div>
</body>
</html>
