h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(155, 140, 169);
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
}
body {
    background-color: rgb(106, 106, 106);
}
div#content div {
    display: inline-block;
    width: 49%;
}
div#content div.leftbox{
    
}
div#content div.rightbox{

}

div#content div.o-url {
    background-color: rgb(155, 140, 169);
    width: 100%;
    border-radius: 5px;
}
div#content div.r-url {
    background-color: rgb(155, 140, 169);
    width: 100%;
    border-radius: 5px;
}